<h1>Dear @Model.GetName():</h1>
<p>@Model.GetSillyWord() @Model.GetLastName() will not be attending school today. He/she has come down with a case of @Model.GetIllness() and has horrible @Model.GetNounPlural() and a/an @Model.GetAdjective() fever. We have made an appointment with the @Model.GetAdjective2() Dr. @Model.GetSillyWord2(), who studied for many years in @Model.GetPlace() and has @Model.GetNumber() degrees in pediatrics. He will send you all the information you need.</p>
<p>Thank you!</p>
<p>Sincerely,</p>
<p>Mrs. @Model.GetAdjective3().</p>
